*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(233, 229, 229);
}

header{

background-color: white;
align-items: center;
   
}

#logo{
    vertical-align: middle;
}

header h1{
    display: inline;
    vertical-align: middle;
    
}
.firstbox{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    padding-left: 20px;
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    padding-top: 15px;
}

.secondbox{
    background-color: white;
    height: 100%;
    padding-left: 20px;
    margin-top: 2px;
    width: 80%;
    margin-left: 10%;
    padding-top: 15px;
}

.done:before{
    line-height: 30px;
    font-size: 15px;
   

        content:'\2713';
        border: 1px solid green;
        color: green;
        width: 15px;
        height: 15px;
        border-radius: 50%; 
        padding-right: 3px;
        padding-left: 3px;
}


.todo:before{
    line-height: 30px;
    font-size: 15px;
    content:'\00d7';
        border: 1px solid red;
        color: red;
        width: 15px;
        height: 15px;
        border-radius: 50%; 
        padding-right: 3px;
        padding-left: 3px;
}


.title:before{
    
        content:'\261F';
        color: black;
        width: 15px;
        height: 15px;
    
}

.editorial{

    background-color: lightblue;
    color: white;
    border-radius: 10%;
    font-size: 10px;
    padding: 1px;
}

.sales{

    background-color: lightgreen;
    color: white;
    border-radius: 10%;
    font-size: 10px;
    padding: 1px;
}

.recruiting{

    background-color: green;
    color: white;
    border-radius: 10%;
    font-size: 10px;
    padding: 1px;
}

.q1goals{

    background-color: purple;
    color: white;
    border-radius: 10%;
    font-size: 10px;
    padding: 1px;
}

.mobile{

    background-color: orange;
    color: white;
    border-radius: 10%;
    font-size: 10px;
    padding: 1px;
}

.websites{

    background-color: lightpink;
    color: white;
    border-radius: 10%;
    font-size: 10px;
    padding: 1px;
    
}